<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        /* style.css */
body {
    background-color: #f0f0f0;
}
.section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: center;
    
}
   </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="txt/css"
     href="./style.css">
    <title>Document</title>
</head>
<body>
    <div class="section">
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="profileImage">
    <button type="submit">Upload</button>
</form>
</div>
</body>
</html>